/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(imagem/Rectangle\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Para garantir que o cabeçalho fique sobre outros elementos */
}

.main {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin-top: 200px; /* Espaçamento adicional para o header fixo */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #555;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.rodape a {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}

.rodape a:hover {
    text-decoration: underline;
}
